{% extends "layout.html.twig" %}
	{% block title %}
		Mon application Symfony
	{% endblock %}
    {% block body %}
	
		<form action="{{ path('materiel_search') }}" method="post" style="display:inline">
			<input type="text" name="q" value="{{q}}" />
			<input type="submit" value="Rechercher" class="btn btn-danger" />
			{# Ceci va générer le champ CSRF #}
			{{ form_rest(form) }}
		{{ form_end(form) }}
	
		<table class="table table-striped" width="100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Matériel</th>
					<th>Durée</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for materiel in materiels %}
					<tr>
						<td>{{materiel.id}}</td>
						<td><a href="{{ path('materiel_show', {'id': materiel.id}) }}">{{materiel.nom}}</a></td>
						<td>{{materiel.duree}}</td>
						<td>
							<form action="{{ path('materiel_delete', {'id': materiel.id}) }}" method="post" style="display:inline">
								<input type="submit" value="Supprimer" class="btn btn-danger" />
								{# Ceci va générer le champ CSRF #}
								{{ form_rest(form) }}
							{{ form_end(form) }}
							<a href="/edit/{{materiel.id}}" class="btn btn-primary">Editer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<script> 
			//Ajoute le bloc de recherche sur le table
			$(document).ready(function() {
				$(".table").DataTable({
					"paging":   false,
					"info":   false,
					"language": {
						"url": "/js/datatables.french.lang.json"
					},
					"columnDefs": [ {
						  "targets": 'no-search',
						  "searchable": false,
					}],
					"initComplete": function(settings, json) {
						//On pose le focus sur la barre de recherche
						$("input[type='search']").focus();	
					}
				});
			});
		</script> 
		

	{% endblock %}